<div class="container py-3 d-flex flex-row justify-content-start align-items-center">
  <%= link_to "Artists", artists_path, class: "btn btn-dark me-3" %>
  <%= link_to "Albums", albums_path, class: "btn btn-dark" %>
</div>
<hr style="margin: 0;">